<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Supprimer le {{ cat.name }}, {{ item.name }}</title>
    </head>
    <body>
        <h1>Supprimer le {{ cat.name }}, {{ item.name }}</h1>
        <p>Voulez vous vraiment supprimer le {{ cat.name }}, {{ item.name }}.</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Supprimer {{ cat }}"/>
            <a href="{% url 'itemlist' cat=cat.name %}"><input type="button" value="Non"/></a>
        </form>
    </body>
</html>