<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Modifier le {{ cat.name }}, {{ item.name }}</title>
    </head>
    <body>
        <h1>Modifier le {{ cat.name }}, {{ item.name }}</h1>
        <p>Entrez les nouvelles informations.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p>{{ errmsg }}</p>
            <input type="submit" value="Modifier"/>
            <a href="{%  url 'itemlist' cat=cat.name %}">
                <input type="button" value="Annuler"/>
            </a>
        </form>
    </body>
</html>