<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ajouter un membre</title>
    </head>
    <body>
        <h1>Ajouter un membre</h1>
        <p>Entrez les nom et prénom du membre à ajouter.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p>{{ errmsg }}</p>
            <input type="submit" value="Ajouter"/>
            <a href="{%  url 'memblist' %}">
                <input type="button" value="Annuler"/>
            </a>
        </form>
    </body>
</html>