<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fiche membre</title>
    </head>
    <body>
        <h1>{{ memb.firstname }} {{ memb.lastname }}</h1>
        {% if memb.blocked %}
            <p>Statut : <td><span style="color:red">&#x2718;</span></td></p>
        {% else %}
            <p>Statut : <td><span style="color:green">&#x2714;</span></td></p>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <input type="submit" value="Changer statut"/>
        </form>
        <h2>Emprunts</h2>
        <table>
            <thead>
                <tr>
                    <th>Date d'emprunt</th>
                    <th>Catégorie</th>
                    <th>Nom</th>
                    <th>Auteur/Créateur</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                    <td>{{ loan.date }}</td>
                    <td>{{ loan.item_category }}</td>
                    <td>{{ loan.item_name }}</td>
                    <td>{{ loan.item_creator }}</td>
                {% endfor %}
            </tbody>
        </table>
        <a href={% url 'memblist' %}>
            <input type="button" value="Retour à la liste"/>
        </a>
    </body>
</html>