<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Supprimer le membre {{ name }}</title>
    </head>
    <body>
        <h1>Supprimer {{ name }}</h1>
        <p>Voulez vous vraiment supprimer le membre {{ name }}.</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Supprimer {{ name }}"/>
            <a href="{% url 'memblist' %}">
                <input type="button" value="Annuler"/>
            </a>
        </form>
    </body>
</html>